<form ng-submit='update(entry)' class='form-horizontal'>
	<fieldset>
		<legend>Update Entry</legend>
		<div class="control-group">
			<label class="control-label">Occurred At</label>
			<div class="controls">
				<input type='text' ng-model='occurredAt' value='{{occurredAt|date:"MMM d, y h:mma"}}'>
			</div>
		</div>
		<div class="form-actions">
			<button type='submit' class='btn btn-primary' ng-class='{"disabled": submitDisabled}'><i class="icon-white icon-edit"></i> Update Entry</button>
			<a class="btn" ng-href='#/entries'>Cancel</a>
		</div>
	</fieldset>
</form>