<bar target='top-right'>
    <bar-group>
        <bar-button
            label="Cancel"
            class='btn-link'
            href='/entries'
        />
    </bar-group>
    <bar-group>
        <bar-button
            label="Create Entry"
            class="btn-success"
            callback='create()'
            icon='icon-white icon-plus'
            disabled='submitDisabled'
        />
    </bar-group>
</bar>
<div class="panel">
    <form ng-submit='create()'>
        <fieldset>
            <legend>New Entry</legend>
            <div class="form-group">
                <label>Occurred At</label>
                <input
                    autofocus
                    type='datetime'
                    class='form-control'
                    ng-model='occurredAt'
                    placeholder='{{occurredAtPlaceholder|date:"MMM d, y h:mma"}}'
                    value='{{occurredAtPlaceholder|date:"MMM d, y h:mma"}}'
                >
            </div>
        </fieldset>
    </form>
</div>