<form ng-submit='create()' class='form-horizontal'>
	<fieldset>
		<legend>New Entry</legend>
		<div class="control-group">
			<label class="control-label">Occurred At</label>
			<div class="controls">
				<input type='text' ng-model='occurredAt' placeholder='{{occurredAtPlaceholder|date:"MMM d, y h:mma"}}' value='{{occurredAtPlaceholder|date:"MMM d, y h:mma"}}'>
			</div>
		</div>
		<div class="form-actions">
			<input type='submit' class='btn btn-primary' ng-class='{"disabled": submitDisabled}' value='Submit'>
			<a class="btn" ng-href='#/entries'>Cancel</a>
		</div>
	</fieldset>
</form>