<bar target='top-right'>
    <bar-group>
        <bar-button
            label="Back"
            class='btn-link'
            href='/entry/{{ entry.id }}'
        />
    </bar-group>
    <bar-group>
        <bar-button
            class='btn-success'
            label='Update'
            callback='update(entry)'
            icon='icon-white icon-plus'
            disabled='loading'
        />
    </bar-group>
</bar>
<form ng-submit='update(entry)' class='form-horizontal'>
    <fieldset>
        <legend>Update Entry</legend>
        <div class="control-group">
            <label class="control-label">Occurred At</label>
            <div class="controls">
                <input type='text' ng-model='occurredAt' value='{{occurredAt|date:"MMM d, y h:mma"}}'>
            </div>
        </div>
        <div class="form-actions">
            <button type='submit' class='btn btn-primary' ng-class='{"disabled": submitDisabled}'><i class="icon-white icon-edit"></i> Update Entry</button>
            <a class="btn" ng-href='#/entries'>Cancel</a>
        </div>
    </fieldset>
</form>