<bar target='top-right'>
    <bar-group>
        <bar-button
            label="New Entry"
            class="btn-success"
            href='/entry/new'
            icon='icon-white icon-plus'
        />
    </bar-group>
</bar>
<p class='alert alert-warning' ng-show='loading'>Loading...</p>
<div ng-show='!loading'>
    <p class='alert alert-warning' ng-show='(list|dictLength) == 0'>No entries found!</p>
    <div class='list-group' ng-repeat='entry in list'>
        <a class="list-group-item" ng-href='#/entry/{{entry.id}}'>
            <span class="badge">{{ entry.entry_items|entryItemsTotalCost|currency }}</span>
            <h4 class="list-group-item-heading">{{ entry.occurred_at|date:'MMM d, y h:mma' }}</h4>
            <p class="list-group-item-text">Items: {{ entry.entry_items|entryItemsTotalQuantity }}</p>
        </a>
    </div>
</div>