<bar target='top-right'>
    <bar-group>
        <bar-button
            label="Cancel"
            class='btn-link'
            href='/entries'
        />
    </bar-group>
    <bar-group>
        <bar-button
            label="Create Entry"
            class="btn-success"
            callback='create()'
            icon='icon-white icon-plus'
            disabled='submitDisabled'
        />
    </bar-group>
</bar>
<div class="panel">
    <form ng-submit='create()'>
        <fieldset>
            <legend>New Entry</legend>
            <div class="form-group">
                <label>Occurred At</label>
                <select
                    ng-model='year'
                    ng-options='year for year in years'
                    ng-change='change()'
                    class='form-control'
                ></select>
                <select
                    ng-model='month'
                    ng-options='month for month in months'
                    ng-change='change()'
                    class='form-control'
                ></select>
            </div>
        </fieldset>
    </form>
</div>