/**
 * general
 */
body {
	padding: 45px 5px 0;
}
/**
 * bootstrap override
 */
.ledger-nav .btn-group + .btn-group,
.ledger-nav .btn-toolbar + .btn-toolbar {
	margin-left: 5px;
}
.navbar-mini {
	margin-bottom: 5px;
	min-height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}