<form ng-submit='create()' class='form-horizontal'>
    <fieldset>
        <legend>New Collection</legend>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type='text' ng-model='name' value='' autofocus>
            </div>
        </div>
        <div class="form-actions">
            <button type='submit' class='btn btn-primary' ng-class='{"disabled": submitDisabled}'><i class="icon-white icon-plus"></i> Create Collection</button>
            <a class="btn" ng-href='#/collections'>Cancel</a>
        </div>
    </fieldset>
</form>