<p class="alert alert-warning" ng-show='hasError'>ERROR!</p>
<div ng-show='!hasError'>
	<p class='alert alert-warning' ng-show='loading > 0'>Loading...</p>
	<div ng-show='loading == 0'>
		<form ng-submit='update(entryItem)' class='form-horizontal'>
			<fieldset>
				<legend>Update Entry-Item</legend>
				<div class="control-group">
					<label class="control-label">Item</label>
					<div class="controls">
						<select ng-model='itemId' ng-options='item.id as item.name for (itemId, item) in items'></select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Cost</label>
					<div class="controls">
						<input type='text' ng-model='cost'>
					</div>
				</div>
				<div class="form-actions">
					<input type='submit' class='btn btn-primary' ng-class='{"disabled": submitDisabled}' value='Submit'>
					<a class="btn" ng-href='#/entry/{{entryItem.entry.id}}'>Cancel</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>