<div ng-show='(bar.groups|dictLength) > 0'>
    <div class='btn-group' ng-repeat='group in bar.groups'>
        <div class='ledger-btn-container' ng-repeat='button in group.buttons'>
            <button
                type='button'
                ng-click='button.call()'
                class='btn navbar-btn {{ button.classes.join(" ") }} btn-small'
            >
                <i class="{{ button.icon }}"></i>
                {{ button.label }}
            </button>
            <div ng-class='{"open": button.opened}'>
                <ul class="dropdown-menu {{ button.itemAlignment }}">
                    <li ng-repeat='item in button.items'>
                        <a
                            href=''
                            ng-click='item.call()'
                            class='{{ item.classes.join(" ") }}'
                        ><i class='{{ item.icon }}'></i> {{ item.label }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>