<p class='alert alert-warning' ng-show='loading'>Loading...</p>
<div ng-show='!loading'>
	<p class="alert alert-info">You have {{entries.length}} entry(s). <button class='btn btn-primary' ng-click='showModal()'>Create Entry</button></p>
	<div modal='isModalOpen' close='closeModal()' options='modalOptions'>
		<div class="modal-header">
			<button class="close" ng-click='closeModal()'>×</button>
			<h3>Poop</h3>
		</div>
		<div class="modal-body">
			<p>Jello, world!</p>
		</div>
		<div class="modal-footer">
			<button class="btn" ng-click='closeModal()'>No, Cancel</button>
			<button class="btn btn-primary" ng-click='createEntry()'>Yes, Create Entry</button>
		</div>
	</div>
	<div class="row-fluid">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Occurred At</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show='entries.length == 0'>
					<td colspan='3'><em>No entries found!</em></td>
				</tr>
				<tr ng-repeat='entry in entries'>
					<th>{{entry.id}}</th>
					<td>{{entry.occurredAt}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>