<bar target='bottom'>
	<bar-group>
		<bar-button
			label="Entries"
			class="btn-default"
			href='/entries'
			icon='icon-white icon-calendar'
		/>
	</bar-group>
	<bar-group>
		<bar-button
			label="Collections"
			class="btn-default"
			href='/collections'
			icon='icon-white icon-list'
		/>
	</bar-group>
</bar>
<div class='list-group'>
	<a class="list-group-item" href='#'>
		<h4 class="list-group-item-heading">Entries</h4>
		<p class="list-group-item-text">You have $N entries, {{name}}.</p>
	</a>
</div>
<form>
	<fieldset>
		<legend>Sup</legend>
		<div class="form-group">
			<label>Jello</label>
			<input type='text' class="form-control" ng-model='name'/>
		</div>
	</fieldset>
</form>