<bar target='top'>
    <bar-group>
        <bar-button
            label="Entries"
            class="btn-default"
            href='/entries'
            icon='icon-white icon-calendar'
        />
        <bar-button
            label="Collections"
            class="btn-default"
            href='/collections'
            icon='icon-white icon-list'
        />
    </bar-group>
</bar>
<bar target='top-right'>
    <bar-group>
        <bar-button
            class="btn-default"
            icon='icon-white icon-reorder'
            item-alignment='pull-right'
        >
            <bar-item
                label='boo'
                icon='icon-trash'
                callback='greetings()'
            />
        </bar-button>
    </bar-group>
</bar>
<p class="alert alert-warning" ng-show='loading'>Loading...</p>
<div ng-show='!loading'>
    <div class='list-group'>
        <a class="list-group-item" href='#/entries'>
            <span class="badge">{{ summary.entry_count }}</span>
            <h4 class="list-group-item-heading">Entries <small>Last entry: 6 hours ago</small></h4>
        </a>
    </div>
</div>