<p class='alert alert-warning' ng-show='loading'>Loading...</p>
<div ng-show='!loading'>
	<p class="alert alert-info">You have {{list.length}} item(s). <a ng-href='#/item/new' class='btn btn-primary'>Create Item</a></p>
	<div class="row-fluid">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show='list.length == 0'>
					<td colspan='3'><em>No items found!</em></td>
				</tr>
				<tr ng-repeat='item in list' ng-class='{"warning": listMetadata[item.id].deleteDisabled}'>
					<th>{{item.id}}</th>
					<td>{{item.name}}</td>
					<td><button class='btn btn-danger pull-right' ng-class='{"disabled": listMetadata[item.id].deleteDisabled}' ng-click='delete(item)'>Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>