<p class='alert alert-warning' ng-show='loading'>Loading...</p>
<p class="alert alert-warning" ng-show='hasError'>ERROR!</p>
<div ng-show='!loading && !hasError'>
	<a ng-href='#/item/new' class='btn btn-primary pull-right'><i class="icon-white icon-plus"></i> Create Item</a>
	<div class="row-fluid">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show='(list|dictLength) == 0'>
					<td colspan='3'><em>No items found!</em></td>
				</tr>
				<tr ng-repeat='item in list' ng-class='{"warning": listMetadata[item.id].deleteDisabled}'>
					<th>{{item.id}}</th>
					<td>{{item.name}}</td>
					<td>
						<div class="btn-group pull-right">
							<a ng-href='#/item/{{item.id}}/edit' class="btn btn-primary"><i class="icon-white icon-edit"></i> Edit</a>
							<button class='btn btn-danger' ng-class='{"disabled": listMetadata[item.id].deleteDisabled}' ng-click='delete(item)'><i class="icon-white icon-trash"></i></button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>