<!DOCTYPE html>
<html>
	<head>
		<title>Ledger</title>

		{# stylesheets #}
		{% stylesheets output="new-ledger/css.css" filter="cssrewrite"
			"bundles/ihswledger/css/bootstrap.min.css"
		%}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

		{# javascripts #}
		{% stylesheets output="new-ledger/js.js" filter=""
			"bundles/ihswledger/js/jquery-1.11.1.min.js"
			"bundles/ihswledger/js/highcharts.js"
		%}
			<script src="{{ asset_url }}"></script>
		{% endstylesheets %}
		<link rel="shortcut icon" href="{{ asset("bundles/ihswledger/images/favicon.png") }}" />
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">Ledger</h3>
			</div>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>