<!DOCTYPE html>
<html ng-app='ledger'>
	<head>
		<title>Ledger</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		{% stylesheets output='css/css.css' filter='cssrewrite'
			'@IhswLedgerBundle/Resources/public/css/bootstrap.min.css'
			'@IhswLedgerBundle/Resources/public/css/main.css'
		%}
			<link rel='stylesheet' href='{{ asset_url }}' />
		{% endstylesheets %}
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		{% javascripts output='js/js.js'
			'@IhswLedgerBundle/Resources/public/js/angular.min.js'
			'@IhswLedgerBundle/Resources/public/js/ui-bootstrap-tpls-0.3.0.min.js'
			'@IhswLedgerBundle/Resources/public/app/app.coffee'
			'@IhswLedgerBundle/Resources/public/app/controllers.coffee'
			'@IhswLedgerBundle/Resources/public/app/services.coffee'
			'@IhswLedgerBundle/Resources/public/app/directives.coffee'
		%}

			<script type='text/javascript' src='{{ asset_url }}'></script>
		{% endjavascripts %}
	</head>
	<body>
		<div class='navbar navbar-fixed-top'>
			<div class='navbar-inner'>
				<div class='container'>
					<a href='#/home' class='brand'>Ledger</a>
				</div>
			</div>
		</div>
		<div class='container'>
			<div class="row">
				<div class="span3">
					<div class="well" style="padding: 8px 0; ">
						<ul class="nav nav-list">
							<li ng-class='{"active": section == "items"}'><a href='#/items'>Items</a></li>
							<li ng-class='{"active": section == "entries"}'><a href='#/entries'>Entries</a></li>
							<li ng-class='{"active": section == "bullshit"}'><a href='#/bullshit'>Bullshit</a></li>
						</ul>
					</div>
				</div>
				<div class="span9">
					<div ng-view></div>
				</div>
			</div>
		</div>
	</body>
</html>