<!DOCTYPE html>
<html ng-app='ledger'>
	<head>
		<title>Ledger</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>

		{# stylesheets #}
		{% stylesheets output='css/css.css' filter='cssrewrite'
			'bundles/ihswledger/css/bootstrap.min.css'
			'bundles/ihswledger/css/font-awesome.min.css'
			'bundles/ihswledger/css/main.css'
		%}
			<link rel='stylesheet' href='{{ asset_url }}' />
		{% endstylesheets %}

		{# loading the router #}
		<script src='{{ asset('bundles/fosjsrouting/js/router.js') }}'></script>
		<script src='{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}'></script>

		{# loading js libraries and client code #}
		{% javascripts output='js/js.js'
			'bundles/ihswledger/js/angular.min.js'
			'@IhswLedgerBundle/Resources/public/app/app.coffee'
			'@IhswLedgerBundle/Resources/public/app/filters/*'
			'@IhswLedgerBundle/Resources/public/app/services/*'
			'@IhswLedgerBundle/Resources/public/app/directives/*'
			'@IhswLedgerBundle/Resources/public/app/controllers/*'
			'@IhswLedgerBundle/Resources/public/app/controllers/*/*'
		%}
			<script type='text/javascript' src='{{ asset_url }}'></script>
		{% endjavascripts %}
	</head>
	<body>
		<div class='navbar navbar-fixed-top ledger-nav'>
			<div class='container'>
				<div class='btn-toolbar'>
					<div class='btn-group'>
						<button type='button' ng-click='navigateTo("/home")' class='btn btn-default navbar-btn'><i class='icon-cloud'></i> Ledger</a>
					</div>
					<bar-container name='top' />
				</div>
			</div>
		</div>
		<div class='navbar navbar-fixed-bottom ledger-nav'>
			<div class='container'>
				<div class='btn-toolbar'>
					<bar-container name='bottom' />
				</div>
			</div>
		</div>
		<div class='container'>
			<div ng-view/>
		</div>
	</body>
</html>